<!-- Toolbar -->
<div class="row">
  <div class="col-sm-12">
    <div class="card border-light h-900">
      <div class="card-body">
        <div class="toolbar" role="banner">
          <img class="img-fluid rounded-start"
            width="180"
            alt="Logo Pichincha"
            src="https://bancaweb.pichincha.com/portalserver/content/api/contentstream-id/4e18b976-190c-4563-9b9e-b36b550b334d/37c2cd27-bfc6-4c60-ac91-4bfbd9fc7802/logo.svg"/>
          <span class="card-text">Proyecto Curso Angular</span>
          <div class="spacer"></div>
          <p class="circle-link card-text">OM</p>
          <p class="card-text">{{nombre | uppercase}}  </p>
        </div>
      </div>
    </div>
  </div>

</div>
