<div class="bg-light border-right p-3" id="sidebar">

  <hr class="text-white">
  <div class="list-group list-reset">
    <div class="list-group" >
      <a class="list-group-item list-group-item-action" href="#">Mis Productos</a>
      <a class="list-group-item list-group-item-action" href="#">Transferencias</a>
      <a class="list-group-item list-group-item-action" href="#">Pagos</a>
      <a class="list-group-item list-group-item-action" href="#">Solicitar Productos</a>
      <a class="list-group-item list-group-item-action" href="#">Otros Servicios</a>
      <a class="list-group-item list-group-item-action" href="#">Mis Contactos</a>
      <a class="list-group-item list-group-item-action" href="#">Mi perfil</a>
      <a class="list-group-item list-group-item-action" href="#">Clave digital</a>
    </div>
  </div>
</div>
